
<h2>Account</h2>

<form role="form">
    <div class="form-group">
        <legend>Profile</legend>

        <label>
            <label>Name:</label>
            <input class="form-control" type="text" name="name" ng-model="user.name"/>
        </label>

        <label>
            <label>Email:</label>
            <input class="form-control" type="text" name="name" ng-model="user.email"/>
        </label>
    </div>

    <div class="form-group">
        <legend>Change Password</legend>

        <label>
            <label>Old Password:</label>
            <input class="form-control" type="password" ng-keypress="reset()" ng-model="oldpass"/>
        </label>

        <label>
            <label>New Password:</label>
            <input class="form-control" type="password" ng-keypress="reset()" ng-model="newpass"/>
        </label>

        <label>
            <label>Confirm Password:</label>
            <input class="form-control" type="password" ng-keypress="reset()" ng-model="confirm"/>
        </label>

        <button class="btn btn-default" ng-click="updatePassword()">update password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </div>

    <div class="form-group">
        <legend>Change Email</legend>

        <label>
            <label>New Email:</label>
            <input class="form-control" type="text" ng-keypress="reset()" ng-model="newemail"/>
        </label>

        <label>
            <label>Password:</label>
            <input class="form-control" type="password" ng-keypress="reset()" ng-model="pass"/>
        </label>

        <button class="btn btn-default" ng-click="updateEmail()">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </div>
</form>

<button class="btn btn-default" ng-click="logout()">Log Out</button>