<h2>Add Makes</h2>
<table class="table">
	<thead>
		<th>Name</th>
		<th>Value</th>
		<th></th>
	</thead>
	<tr ng-repeat="make in makes">
		<td>{{make.name}}</td>
		<td>{{make.value}}</td>
		<td><button type="button" class="btn btn-default" ng-click="delete(make)">Delete</button></td>
	</tr>
</table>
<form>
	<input placeholder="Add make name..." ng-model="newMake.name">
	<input placeholder="Add make value..." ng-model="newMake.value">
	<button type="submit" ng-click="addMake()">Save</button>
</form>