<h2>{{machine.model}}</h2>
<img width="100" class="machine-img" src="images/default-mc-image.jpg">


<table class="table table-striped" ng-show="log">
	<thead>
		<th>Date</th>
		<th>Task</th>
		<th>Miles</th>
		<th></th>
	</thead>
	<tbody>
	    <tr ng-repeat="entry in log | orderByPriority | orderBy:'date':true">
	    	<td>{{entry.date | date:'MM/dd/yyyy' }}</td>
	    	<td>{{entry.task}}</td> 
	    	<td>{{entry.miles | number}} miles</td>
	    	<td>
	    		<a href="" ng-click="editEntry(entry)">edit</a> | <a href="" ng-click="deleteEntry(entry.$id)">delete</a>
	    	</td>
	    </tr>
	</tbody>
</table>

<form class="form-inline">
  <div class="form-group">
	  <input class="form-control" placeholder="Task..." ng-model="activeEntry.task" required>
	</div>
	<div class="form-group">
	  <input class="form-control" placeholder="Date..." ng-model="activeEntry.date" type="date" required>
	</div>
	<div class="form-group">
	  <input class="form-control" placeholder="Miles..." ng-model="activeEntry.miles" type="number">
	</div>
  <button class="btn btn-default" type="submit" ng-click="addLog()">Save</button>
</form>

