@import "_bootstrap-includes";
@import "_bootstrap-overrides-variables";
@import "assets/_forms";
@footer-height: 20px;
@header-height: 50px;
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background: #1f2227 url('../images/bkg.jpg') repeat;
  margin-bottom: @footer-height;
}
#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-height;
  background-color: #222;
}

#main-container{
  margin-top: @header-height;
  background-color: #fff;
  padding-bottom: 5em;
}

#login-form{
  max-width: 300px;
  margin: 2em auto;
}

tfoot{
  td{

  }
}

.machine-list{
  text-align: center;
  list-style-type: none;
  padding: 0;
  .clearfix();
  .machine{
    display: inline-block;
    width: 300px;
    margin: 1em;
    text-align: center;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .machine-img{

  }
}